In [2]:
import pandas as pd
import numpy as np
import os
import sys
import re
import json

In [3]:
df= pd.read_csv("C:/Users/Binisa/Videos/Cybersheildcopy/archive/test.csv",encoding='latin-1')

In [41]:
df.head(5)

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346.0,652860.0,60.0
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon,21-30,Albania,2877797.0,27400.0,105.0
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,01082688c6,happy bday!,positive,morning,46-60,Andorra,77265.0,470.0,164.0
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon,60-70,Angola,32866272.0,1246700.0,26.0

In [4]:
columns_to_drop = ['Time of Tweet','Age of User', 'Country', 'Population -2020', 'Land Area (Km²)', 'Density (P/Km²)']
df_cleaned = df.drop(columns=columns_to_drop)

In [5]:
df_cleaned.head(5)

       textID                                               text sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1  96d74cb729   Shanghai is also really exciting (precisely -...  positive
2  eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3  01082688c6                                        happy bday!  positive
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive

In [6]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4815 entries, 0 to 4814
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     3534 non-null   object
 1   text       3534 non-null   object
 2   sentiment  3534 non-null   object
dtypes: object(3)
memory usage: 113.0+ KB

In [7]:
print(df_cleaned.isnull().sum())

textID       1281
text         1281
sentiment    1281
dtype: int64

In [8]:
print(df_cleaned[df_cleaned.isnull().any(axis=1)].head(5))

     textID text sentiment
3534    NaN  NaN       NaN
3535    NaN  NaN       NaN
3536    NaN  NaN       NaN
3537    NaN  NaN       NaN
3538    NaN  NaN       NaN

In [9]:
df_cleaned=df_cleaned.dropna()

In [10]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3534 entries, 0 to 3533
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     3534 non-null   object
 1   text       3534 non-null   object
 2   sentiment  3534 non-null   object
dtypes: object(3)
memory usage: 110.4+ KB

In [11]:
df_cleaned['text'] = df_cleaned['text'].str.replace(r'http\S+|www\S+|https\S+', '', regex=True, flags=re.IGNORECASE)
df_cleaned['text'] = df_cleaned['text'].str.replace(r'@\w+', '', regex=True)  # Remove mentions
df_cleaned['text'] = df_cleaned['text'].str.replace(r'#\w+', '', regex=True)  # Remove hashtags
df_cleaned['text'] = df_cleaned['text'].str.replace(r'[^a-zA-Z\s]', '', regex=True)  # Remove punctuation and numbers
df_cleaned['text']=df['text'].str.strip()  # Remove leading and trailing whitespace

In [12]:
df_cleaned['text']

0       Last session of the day  http://twitpic.com/67ezh
1       Shanghai is also really exciting (precisely --...
2       Recession hit Veronique Branquinho, she has to...
3                                             happy bday!
4                  http://twitpic.com/4w75p - I like it!!
                              ...
3529    its at 3 am, im very tired but i can`t sleep  ...
3530    All alone in this old house again.  Thanks for...
3531    I know what you mean. My little dog is sinking...
3532    _sutra what is your next youtube video gonna b...
3533    http://twitpic.com/4woj2 - omgssh  ang cute ng...
Name: text, Length: 3534, dtype: object

In [13]:
df_cleaned['text'] = df_cleaned['text'].str.replace(r'http\S+|www\S+|https\S+', '', regex=True, flags=re.IGNORECASE)
df_cleaned['text'] = df_cleaned['text'].str.replace(r'@\w+', '', regex=True)  # Remove mentions
df_cleaned['text'] = df_cleaned['text'].str.replace(r'#\w+', '', regex=True)  # Remove hashtags
df_cleaned['text'] = df_cleaned['text'].str.replace(r'[^a-zA-Z\s]', '', regex=True)  # Remove punctuation and numbers
df_cleaned['text']=df_cleaned['text'].str.strip()  # Remove leading and trailing whitespace

In [14]:
df_cleaned['text']

0                                 Last session of the day
1       Shanghai is also really exciting precisely  sk...
2       Recession hit Veronique Branquinho she has to ...
3                                              happy bday
4                                               I like it
                              ...
3529    its at  am im very tired but i cant sleep  but...
3530    All alone in this old house again  Thanks for ...
3531    I know what you mean My little dog is sinking ...
3532    sutra what is your next youtube video gonna be...
3533                              omgssh  ang cute ng bby
Name: text, Length: 3534, dtype: object

In [15]:
df_cleaned['text']

0                                 Last session of the day
1       Shanghai is also really exciting precisely  sk...
2       Recession hit Veronique Branquinho she has to ...
3                                              happy bday
4                                               I like it
                              ...
3529    its at  am im very tired but i cant sleep  but...
3530    All alone in this old house again  Thanks for ...
3531    I know what you mean My little dog is sinking ...
3532    sutra what is your next youtube video gonna be...
3533                              omgssh  ang cute ng bby
Name: text, Length: 3534, dtype: object

In [16]:
df_cleaned.head(5)

       textID                                               text sentiment
0  f87dea47db                            Last session of the day   neutral
1  96d74cb729  Shanghai is also really exciting precisely  sk...  positive
2  eee518ae67  Recession hit Veronique Branquinho she has to ...  negative
3  01082688c6                                         happy bday  positive
4  33987a8ee5                                          I like it  positive

In [17]:
df_cleaned=df_cleaned.drop('textID', axis=1)

In [18]:
df_cleaned.head(5)

                                                text sentiment
0                            Last session of the day   neutral
1  Shanghai is also really exciting precisely  sk...  positive
2  Recession hit Veronique Branquinho she has to ...  negative
3                                         happy bday  positive
4                                          I like it  positive

In [19]:
# Convert to JSON (one record per line)
json_data = df_cleaned.to_json(orient='records', indent=4)

# Save to file
with open('cleaned_data.json', 'w') as f:
    f.write(json_data)

In [20]:
with open('cleaned_data.json', 'r') as f:
    json_data = json.load(f)

In [ ]:
import pandas as pd
import json

# Correct way to export
json_data = df_cleaned.to_json(orient='records', indent=4) 

# Save with explicit path
with open('cleaned_data.json', 'w', encoding='utf-8') as f:
    f.write(json_data)

In [22]:
import os

# Check current directory
print("Current working directory:", os.getcwd())

# List files to verify JSON exists
print("Files in directory:", os.listdir())

# Alternative: Use absolute path
abs_path = os.path.abspath('cleaned_data.json')
print("Absolute path:", abs_path)

Current working directory: c:\Users\Binisa\OneDrive\Documents\Cybersheild\DATASETS
Files in directory: ['cleaned_data.json', 'datacleaning.ipynb', 'EcoPreprocessed.csv', 'Untitled-1.ipynb']
Absolute path: c:\Users\Binisa\OneDrive\Documents\Cybersheild\DATASETS\cleaned_data.json