In [53]:
import pandas as pd
import numpy as np
import os
import sys
import re

In [33]:
df= pd.read_csv("C:/Users/Binisa/Videos/Cybersheildcopy/archive/test.csv",encoding='latin-1')

In [56]:
df.head()

,textID,text,sentiment,Time of Tweet
0,f87dea47db,Last session of the day,neutral,morning
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night
3,01082688c6,happy bday!,positive,morning
4,33987a8ee5,- I like it!!,positive,noon

In [57]:
columns_to_drop = ['Time of Tweet','Age of User', 'Country', 'Population -2020', 'Land Area (Km²)', 'Density (P/Km²)']
df = df.drop(columns=columns_to_drop)

KeyError: "['Age of User', 'Country', 'Population -2020', 'Land Area (Km²)', 'Density (P/Km²)'] not found in axis"

In [58]:
df.head(5)

,textID,text,sentiment,Time of Tweet
0,f87dea47db,Last session of the day,neutral,morning
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night
3,01082688c6,happy bday!,positive,morning
4,33987a8ee5,- I like it!!,positive,noon

In [37]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4815 entries, 0 to 4814
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         3534 non-null   object
 1   text           3534 non-null   object
 2   sentiment      3534 non-null   object
 3   Time of Tweet  3534 non-null   object
dtypes: object(4)
memory usage: 150.6+ KB

In [38]:
print(df.isnull().sum())

textID           1281
text             1281
sentiment        1281
Time of Tweet    1281
dtype: int64

In [39]:
print(df[df.isnull().any(axis=1)])

     textID text sentiment Time of Tweet
3534    NaN  NaN       NaN           NaN
3535    NaN  NaN       NaN           NaN
3536    NaN  NaN       NaN           NaN
3537    NaN  NaN       NaN           NaN
3538    NaN  NaN       NaN           NaN
...     ...  ...       ...           ...
4810    NaN  NaN       NaN           NaN
4811    NaN  NaN       NaN           NaN
4812    NaN  NaN       NaN           NaN
4813    NaN  NaN       NaN           NaN
4814    NaN  NaN       NaN           NaN

[1281 rows x 4 columns]

In [40]:
df_cleaned = df.dropna()  # Removes all rows with ANY missing values
print(f"Removed {len(df) - len(df_cleaned)} rows.")

Removed 1281 rows.

In [59]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3534 entries, 0 to 3533
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         3534 non-null   object
 1   text           3534 non-null   object
 2   sentiment      3534 non-null   object
 3   Time of Tweet  3534 non-null   object
dtypes: object(4)
memory usage: 138.0+ KB

In [42]:
df_cleaned.head()

,textID,text,sentiment,Time of Tweet
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night
3,01082688c6,happy bday!,positive,morning
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon

In [60]:
df_cleaned['text']

0                                 Last session of the day
1       Shanghai is also really exciting (precisely --...
2       Recession hit Veronique Branquinho, she has to...
3                                             happy bday!
4                                           - I like it!!
                              ...
3529    its at 3 am, im very tired but i can`t sleep  ...
3530    All alone in this old house again.  Thanks for...
3531    I know what you mean. My little dog is sinking...
3532    _sutra what is your next youtube video gonna b...
3533                          - omgssh  ang cute ng bby.!
Name: text, Length: 3534, dtype: object

In [46]:
df_cleaned['text'] = df_cleaned['text'].str.replace(r'http\S+|www\S+|https\S+', '', regex=True, flags=re.IGNORECASE)
df_cleaned['text'] = df_cleaned['text'].str.replace(r'@\w+', '', regex=True)  # Remove mentions
df_cleaned['text'] = df_cleaned['text'].str.replace(r'#\w+', '', regex=True)  # Remove hashtags
df_cleaned['text'] = df_cleaned['text'].str.replace(r'[^a-zA-Z\s]', '', regex=True)  # Remove punctuation and numbers
df_cleaned['text']=df['text'].str.strip()  # Remove leading and trailing whitespace

C:\Users\Binisa\AppData\Local\Temp\ipykernel_47396\2353638971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['text'] = df_cleaned['text'].str.replace(r'http\S+|www\S+|https\S+', '', regex=True, flags=re.IGNORECASE)
C:\Users\Binisa\AppData\Local\Temp\ipykernel_47396\2353638971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['text'] = df_cleaned['text'].str.replace(r'@\w+', '', regex=True)  # Remove mentions
C:\Users\Binisa\AppData\Local\Temp\ipykernel_47396\2353638971.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['text'] = df_cleaned['text'].str.replace(r'#\w+', '', regex=True)  # Remove hashtags
C:\Users\Binisa\AppData\Local\Temp\ipykernel_47396\2353638971.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['text'] = df_cleaned['text'].str.replace(r'[^a-zA-Z\s]', '', regex=True)  # Remove punctuation and numbers
C:\Users\Binisa\AppData\Local\Temp\ipykernel_47396\2353638971.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['text']=df['text'].str.strip()  # Remove leading and trailing whitespace

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4815 entries, 0 to 4814
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         3534 non-null   object
 1   text           3534 non-null   object
 2   sentiment      3534 non-null   object
 3   Time of Tweet  3534 non-null   object
dtypes: object(4)
memory usage: 150.6+ KB

In [67]:
df_cleaned.head(5)

       textID sentiment
0  f87dea47db   neutral
1  96d74cb729  positive
2  eee518ae67  negative
3  01082688c6  positive
4  33987a8ee5  positive

In [66]:
df_cleaned=df_cleaned.drop('Time of Tweet', axis=1)
df_cleaned.head(5)

       textID sentiment
0  f87dea47db   neutral
1  96d74cb729  positive
2  eee518ae67  negative
3  01082688c6  positive
4  33987a8ee5  positive